<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>opencover</Format>
					<ExcludeByFile>
						**/Program.cs
						**/Startup.cs
						**/ApplicationDbContextModelSnapshot.cs
						**/20241011222935_CreateMotorcycle.cs
						**/20241014195742_Motorcycle2024.cs
						**/20241015021526_Motorcycle2024CreationDate.cs
						**/20241017221516_DeliveryPerson.cs
					</ExcludeByFile>
					<Exclude>
						[*.Tests]*
						[*].Migrations.*
						[Migrations]*
						[*]Configuration.*
						[*]TypeConfiguration
					</Exclude>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
